/* src/app/components/AdminDashboard.module.css */

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
  }
  
  .card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FEDE65;
  }

  .card:hover {
    transform: scale(1.05); /* Slightly enlarge the card on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Darker and larger shadow on hover */
    cursor: pointer;
  }
  
  .cardTitle {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .button{
    background-color: #6c63ff;
    color: white;
    padding: 0.8em 1.5em;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center; /* Center the button */
    margin-top: 40px;
  }


  /* Responsive Design */
  @media (max-width: 768px) {
    .cardsContainer {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 480px) {
    .cardsContainer {
      grid-template-columns: 1fr;
    }
  }
  